---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogSpot.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const allPosts = await getCollection("posts");
const pageTitle = "Mi blog de Astro aprendizaje";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Mi blog de Astro aprendizaje</h1>
  <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
