---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Blog Matias Lascano";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Mi impresionante subtitulo de blog</h2>

  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Hey", "Habari"]} />
</BaseLayout>
